body{background:black;}
.h1, h1 {
    font-size: 45px;
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px brown;
   
}

.h1, h2 {
    text-align: center;
    color: white;
}

.h1, h3 {text-align: center;
    align-content: center;
    color: #ffcce6;
}

.h1, h4 {text-align: center;
    
    color: white;
}

ol ol, ol ul, ul ol, ul ul {text-align: center;
    margin-bottom: 0;
    color: white;
}



.title_box {
    background-color: #ffcce6;
    margin: 30px;
    padding: 70px;
}
    .nav {
       background-color:black;
    }
/* .hr{<hr style="border: dotted 10px red;">;
    } */
    hr {
        border: 0;
        width: 100%;
        color:#ffcce6;
        background-color:#ffcce6;
        height: 1px;
        border-style:dotted;
      }
      input{background-color:#ffcce6;}

      img {
        border: 2px solid #ffcce6;
        border-radius: 100%;
        background: none;
        width: 628px;
        margin: 0px auto;
        display: block;
    }
    img:hover{
        transform: scale(1.2);
    }
    .nav:hover{transform: scale(1.2);}
    .input{margin: 0 auto;}
    button, input, select, textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        display: block;
        margin: auto;} 
        

    